<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.is.jishelpdesk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReceiveNotificationActivity"></activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".AddPhotoActivity" />
        <activity android:name=".AdminEmpProfileActivity" />
        <activity android:name=".PhotoPreviewActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".ComplaintRegisteredActivity" />
        <activity android:name=".ComplaintInfoEmpActivity" />
        <activity android:name=".EmpProfileActivity" />
        <activity android:name=".AssignEmpActivity" />
        <activity android:name=".ComplaintInfoAdminActivity" />
        <activity android:name=".ForgotPassAdminActivity" />
        <activity android:name=".ComplaintEmpActivity" />
        <activity android:name=".EmpRegisterActivity" />
        <activity android:name=".ComplaintAdminActivity" />
        <activity android:name=".EmpLoginActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".ComplaintActivity" />
        <activity android:name=".WelcomePageActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>